<footer>
  <div class="relative bg-[#010100] py-[60px] overflow-hidden">
    <img src="./img/footer-image2.webp" alt="Отримайте консультацію нашого юриста" class="absolute bottom-0 left-0 hidden lg:block" />
    <img src="./img/footer-image.webp" alt="Отримайте консультацію нашого юриста" class="absolute -bottom-[60px] right-0 object-contain max-lg:opacity-50 max-sm:h-full max-sm:w-full sm:bottom-0" />
    <div class="relative z-10 mx-auto flex max-w-[1000px] flex-col items-center px-4 max-sm:text-center sm:items-start">
      <div class="mb-10 flex flex-col gap-y-5 max-sm:items-center sm:mb-[60px] sm:gap-y-[30px]">
        <h2 class="text-xl font-bold !leading-snug text-white sm:text-4xl">Отримайте консультацію нашого юриста</h2>
        <span class="h-[1px] w-[105px] bg-primary"></span>
        <p class="text-base font-medium leading-snug text-white sm:text-2xl">Задайте будь-яке питання безпосередньо в:</p>
      </div>
      <a href="#" class="flex h-[57px] items-center justify-center gap-x-2.5 bg-primary px-4 transition-colors hover:bg-primary/80 sm:h-[73px]">
        <svg class="size-5 text-white sm:size-6">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
        <span class="whitespace-nowrap text-base font-semibold text-white sm:text-lg">Написати в Telegram</span>
      </a>
    </div>
  </div>

  <div>
    <div class="container flex flex-wrap items-center justify-between gap-y-8 py-8 max-lg:flex-col lg:gap-y-3 lg:space-x-3 lg:py-4">
      <a href="/" class="order-1">
        <img src="./img/logo.svg" alt="Logo" class="h-[51px] w-[193px] object-contain sm:h-[64px] sm:w-[239px]" />
      </a>
      <nav class="order-3 lg:order-3">
        <ul class="flex items-center gap-y-[15px] max-lg:flex-col lg:gap-x-[27px] max-lg:divide-y lg:divide-x max-lg:[&>*:not(:first-child)]:pt-[15px] lg:[&>*:not(:first-child)]:pl-[27px]">
          <li>
            <a href="#services" class="uppercase text-typo-200 transition-colors hover:text-primary">Послуги</a>
          </li>
          <li>
            <a href="#about" class="uppercase text-typo-200 transition-colors hover:text-primary">Про нас</a>
          </li>
          <li>
            <a href="#comments" class="uppercase text-typo-200 transition-colors hover:text-primary">Відгуки</a>
          </li>
          <li>
            <a href="#contacts" class="uppercase text-typo-200 transition-colors hover:text-primary">Контакти</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="order-2 flex h-[43px] items-center justify-center bg-primary px-[7px] transition-colors hover:bg-primary/80 sm:h-[56px] sm:gap-x-2.5 sm:px-4 lg:order-3">
        <svg class="hidden size-6 text-white sm:block">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
        <span class="text-sm font-semibold text-white sm:text-base">Написати в Telegram</span>
      </a>
    </div>
    <div class="border-t border-[#D2D2D2]">
      <div class="container flex max-lg:flex-col gap-y-[20px] items-center justify-center gap-x-4 py-8 lg:justify-between lg:py-2.5">
        <a href="#location" class="group flex items-center gap-x-2.5">
          <svg class="size-6 text-primary">
            <use href="./sprites/sprite.svg#icon-loc"></use>
          </svg>
          <p class="text-sm font-semibold text-typo-200 transition-colors group-hover:text-primary sm:text-base">Вулиця Героїв 45, офіс 21</p>
        </a>
        <p class="text-base text-[#8E8E8E] text-center">Вітаємо на сайті оридичної компаніі Nester A.A!</p>
      </div>
    </div>
  </div>
</footer>
