<header class="">
  <div class="border-b border-[#D2D2D2]">
    <div class="container flex items-center justify-center gap-x-4 py-2.5 lg:justify-between">
      <a href="#location" class="group flex items-center gap-x-2.5">
        <svg class="size-6 text-primary">
          <use href="./sprites/sprite.svg#icon-loc"></use>
        </svg>
        <p class="text-sm font-semibold text-typo-200 transition-colors group-hover:text-primary sm:text-base">Вулиця Героїв 45, офіс 21</p>
      </a>
      <p class="hidden text-base text-[#8E8E8E] lg:block">Вітаємо на сайті оридичної компаніі Nester A.A!</p>
      <p class="hidden text-sm text-[#323232] lg:block">КОНСУЛЬТАЦІЯ 24/7</p>
    </div>
  </div>

  <div>
    <div class="container flex flex-wrap items-center justify-between gap-y-3 space-x-3 py-4">
      <a href="/">
        <img src="./img/logo.svg" alt="Logo" class="h-[37px] w-[141px] object-contain sm:h-[64px] sm:w-[239px]" />
      </a>
      <nav class="hidden lg:block">
        <ul class="flex items-center lg:divide-x lg:gap-x-[27px] lg:[&>*:not(:first-child)]:pl-[27px]">
          <li>
            <a href="#services" class="uppercase text-typo-200 transition-colors hover:text-primary">Послуги</a>
          </li>
          <li>
            <a href="#about" class="uppercase text-typo-200 transition-colors hover:text-primary">Про нас</a>
          </li>
          <li>
            <a href="#comments" class="uppercase text-typo-200 transition-colors hover:text-primary">Відгуки</a>
          </li>
          <li>
            <a href="#contacts" class="uppercase text-typo-200 transition-colors hover:text-primary">Контакти</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="flex h-[43px] items-center justify-center bg-primary px-[7px] transition-colors hover:bg-primary/80 sm:h-[56px] sm:gap-x-2.5 sm:px-4">
        <svg class="hidden size-6 text-white sm:block">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
        <span class="text-sm font-semibold text-white sm:text-base">Написати в Telegram</span>
      </a>
    </div>
  </div>
</header>
